<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Test_3</display-name>
  
  <jsp-config>
    <taglib>
    <taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>
    <taglib-location>/WEB-INF/fmt.tld</taglib-location>
    </taglib>
    <taglib>
    <taglib-uri>http://java.sun.com/jstl/fmt-rt</taglib-uri>
    <taglib-location>/WEB-INF/fmt-rt.tld</taglib-location>
    </taglib>
    <taglib>
    <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
    <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>
    <taglib>
    <taglib-uri>http://java.sun.com/jstl/core-rt</taglib-uri>
    <taglib-location>/WEB-INF/c-rt.tld</taglib-location>
    </taglib>
    <taglib>
    <taglib-uri>http://java.sun.com/jstl/sql</taglib-uri>
    <taglib-location>/WEB-INF/sql.tld</taglib-location>
    </taglib>
    <taglib>
    <taglib-uri>http://java.sun.com/jstl/sql-rt</taglib-uri>
    <taglib-location>/WEB-INF/sql-rt.tld</taglib-location>
    </taglib>
    <taglib>
    <taglib-uri>http://java.sun.com/jstl/x</taglib-uri>
    <taglib-location>/WEB-INF/x.tld</taglib-location>
    </taglib>
    <taglib>
    <taglib-uri>http://java.sun.com/jstl/x-rt</taglib-uri>
    <taglib-location>/WEB-INF/x-rt.tld</taglib-location>
    </taglib>
   </jsp-config>
    
    
    
  
  <servlet>
  <servlet-name>LoginServlet</servlet-name>
  <servlet-class>com.zzy.test.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>LoginServlet</servlet-name>
  <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>RegisterServlet</servlet-name>
  <servlet-class>com.zzy.test.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>RegisterServlet</servlet-name>
  <url-pattern>/register</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>GetUserNameServlet</servlet-name>
  	<servlet-class>com.zzy.test.servlet.GetUserNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetUserNameServlet</servlet-name>
  	<url-pattern>/getusername.action</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>GetMesseageServlet</servlet-name>
  	<servlet-class>com.zzy.test.servlet.GetMesseageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetMesseageServlet</servlet-name>
  	<url-pattern>/getmessage.action</url-pattern>
  </servlet-mapping>
  
    <context-param>
		<param-name>sql_dialect</param-name>
		<param-value>mysql</param-value>
	</context-param>
	<context-param>
		<param-name>data_source</param-name>
		<param-value>user</param-value>
	</context-param>
  
  	<resource-ref>
		<res-ref-name>jdbc/user</res-ref-name>
		<res-auth>Container</res-auth>
	</resource-ref>
  
   <servlet>
		<servlet-name>InitServlet</servlet-name>
		<servlet-class>com.zzy.test.servlet.InitServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
  </servlet>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>